$dangerColor: #a94442;
$mutedColor: #d4d4d4;

.main-header {
  .logo {
    .logo-lg {
      height: 100%;

      img {
        height: 100%;
        padding: 2px;
      }
    }

    .logo-mini {
      height: 100%;

      img {
        height: 100%;
        padding: 2px;
      }
    }
  }
}

.main-sidebar {
  .user-panel {
    .info {
      position: relative;
      left: 0;
    }
  }
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: auto;
}

.main-footer a {
  color: #1a1a1a;

  &:hover {
    color: #4d8f97;
  }
}

.actions-bar {
  margin: 10px 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  margin: 0;
}

label.error {
  color: $dangerColor;
}

select.error,
input.error,
.form-error {
  border-color: $dangerColor;
}

.to-center {
  text-align: center;
}

.to-right {
  text-align: right;
}

table {
  .actions-list {
    a {
      margin: 0 5px;
    }
  }

  .text-muted {
    color: $mutedColor;
  }
}

.big-icon {
  font-size: 3em;
}

.fixed-width-icon {
  width: 1.28571429em;
  text-align: center;
}

.icon-view-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  //margin: 20px 0;

  .item {
    display: flex;
    margin: 20px;

    .icon {
      margin: 0 10px;
      @extend .big-icon;
      @extend .fixed-width-icon;
    }

    .value {
      h1 {
        font-size: x-small;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }

      h2 {
        font-size: x-large;
        margin: 0;
        padding: 0;
      }

      h3 {
        font-size: large;
        margin: 0;
        padding: 0;
      }

      h4 {
        font-size: medium;
        margin: 0;
        padding: 0;
      }
    }

    &:nth-child(even) {
      text-align: right;

      .icon {
        order: 2;
      }
    }
  }
}

.vertical-icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    font-size: large;
    border-top: solid 1px #ececec;
    margin: 0 -10px;
    padding: 10px;

    i {
      @extend .fixed-width-icon;
    }
  }
}

.circles-legend {
  margin: 10px 0;
  list-style-type: none;
  padding: 0;
  display: flex;

  li {
    margin-right: 10px;

    i {
      @extend .fixed-width-icon;

      &.muted {
        color: $mutedColor;
      }
    }
  }
}

.percentage-sliders {
  .icon {
    text-align: center;

    i {
      @extend .big-icon;
      @extend .fixed-width-icon;
    }
  }

  h1 {
    font-size: x-large;
    margin: 5px 0;
  }

  @media only screen and (max-width: 991px), only screen and (max-device-width: 991px) {
    .vertical-center-row {
      display: block;
    }

    h1 {
      text-align: center;
    }
  }
}

.vertical-center-row {
  display: flex;
  align-items: center;
}

.big-info {
  text-align: center;
  font-size: 10vh;
  font-weight: bolder;
  margin: 10px;
}

.graph-container {
  height: 30vh !important;
}

.thumbs-list {
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: solid 1px #efefef;
    border-radius: 2px;
    padding: 5px;

    .item-wrapper {
      flex: 1;

      figure {
        margin: -5px;

        img {
          width: 100%;
          height: 20vh;
          border-radius: 2px;
        }
      }

      h1 {
        font-size: large;
        margin: 5px 0 2px 0;
        font-weight: bolder;
      }

      h2 {
        font-size: medium;
        margin: 0;
      }

      h3 {
        font-size: small;
        margin: 10px 0;
      }
    }

    .actions {
      margin: 5px 0;
      text-align: right;
    }
  }
}

.small-long-text {
  text-align: justify;
  font-size: small;
}

.pagination-div .pagination {
  margin: 0;
}

.search-h1 {
  font-size: large;
  margin: 2px 0;
  font-weight: bolder;
}

.search-h2 {
  font-size: medium;
  margin: 2px 0;
}