#slips-info {
  .slip {
    margin-bottom: 20px;

    .slip-header {
      border-radius: 5px;
      text-align: center;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .slip-header-container {
        padding: 10px;

        h1 {
          font-size: xx-large;
        }
      }
    }

    .slip-body {
      .table {
        margin: 0;
      }
    }
  }
}