#list-properties-map {
  margin: 10px;
  height: 60vh;
}

.property-info-window-container {
  display: flex;
  width: 300px;
  align-items: center;

  figure {
    img {
      height: 10vh;
    }
  }

  h1 {
    font-size: medium;
  }
}

#images-preview {
  margin: 10px 0;
  border: dashed 1px #bcbcbc;
  background: #eeeeee;
  padding: 10px;
  min-height: 20vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .images-preview-instructions {
    font-size: x-large;
    width: 30vw;
    opacity: 0.4;
    text-align: center;
  }
}

.dropzone .dz-preview.dz-image-preview {
  background: transparent;
}

.dropzone .dz-preview .dz-remove {
  color: #d32f2f;

  &:hover {
    text-decoration: none;
    color: #ff6659;
  }
}

$photoWidth: 200px;
$photoHeight: 160px;

#photo-gallery-view {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .photo-container {
    width: $photoWidth;
    height: $photoHeight;
    margin: 10px;
    cursor: move;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    .gallery-checkbox {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 24px;
      height: 24px;
    }
  }
}

.photo-gallery-state-highlight {
  background: #eceff1;
  border-radius: 5px;
  width: $photoWidth;
  height: $photoHeight;
}